.panel-collapsible-container {
    position: relative;
    transition: width 1s;
    /* default 1s transition for width. Add height if using north/south */
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: #333;
    border: 2px solid #333;
    /* By default, it should take up the full width */
}

.panel-collapsible-container.collapsed {
    transition: width 0.25s;
    /* Transition when collapsing */
}

.toggle-button {
    position: absolute;
    top: 0;
    z-index: 10;
    color: #777;
    height: 20px;
    width: 32px;
    font-weight: bold;
    font-size: 1.3em;
    background: none;
    border: none;
    color: 'white';
}

.toggle-button:hover {
    color: red;
    cursor: pointer;
}

.collapsed {
    width: 5px;
    min-height: 20px;
    min-width: 20px;
    /* Collapse to 0 width */
}
