># Logs
>logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


_superseded/
_index.html

src/viewer/*.code-workspace

public/images/
mgmt/
environment.ts
environment.js

# this is genereated by the build 
.gradle/

src/marklogic/build