.worldView {
    color: white;
    position: relative;
}

.worldView>div:first-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100px;
}

.worldView #map {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    position: absolute;
}
